@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');
html, body {
    height: 100%;
    margin:0px;
    font-family:'Source Sans Pro', sans-serif;
}
html {
    overflow:hidden;
}
body {
    overflow: auto;
}
body::-webkit-scrollbar {
    display: none;
}
*:focus{
    outline: none;
}
.icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
.icon18 {
    font-size: 18px;
}
.icon24 {
    font-size: 24px;
}
.icon36 {
    font-size: 36px;
}
.icon48 {
    font-size: 48px;
}
.title {
    height:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.2)),url(codeshot.png);
    border-bottom:4px solid white;
}
.title span {
    color:white;
    font-weight:900;
    font-size:60px;
}
.test {
    margin-top:30px;
    display:block;
    font-family:'Source Sans Pro', sans-serif;
    background: #eed002;
    border:2px solid #f1d204;
    border-radius: 2px;
    color: white;
    padding:10px 50px;
    letter-spacing: 2px;
    font-weight:700;
    font-size:20px;
    transition: 0.2s all;
}
.test:hover {
    background:transparent;
    color:white;
}
/*f1d204*/

.menu * {
    transition:all .3s;
    -webkit-transition:all .3s;
    box-sizing:border-box;
}
.menu {
    align-self:flex-start;
    display: block;
    position:relative;
    margin:20px;
    height:50px;
    width:50px;
}
.menu input[type=checkbox] {
    display:none;
}
.menu label {
    cursor:pointer;
    position:absolute;
    z-index:99;
    height:100%;
    width:100%;
    top:10px;
    left:0;
}
.menu .bars {
    height:5px;
    width:100%;
    background:#FFF;
}
.menu .bar-1 {
    position:relative;
    float:left;
}
.menu .bar-2 {
    position:relative;
    float:left;
    margin-top:7px;
}
.menu .bar-3 {
    position:relative;
    float:left;
    margin-top:6px;
}
.menu input[type=checkbox]:checked ~ .menuLable > .bar-2 {
    opacity: 0;
    transform: scale(-1.5);
}
.menu input[type=checkbox]:checked ~ .menuLable > .bar-1 {
    transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    margin-top:10px;
}
.menu input[type=checkbox]:checked ~ .menuLable > .bar-3 {
    transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    margin-top:-16px;
}
.menu input[type=checkbox]:checked ~ .menuLable .bars {
    background:#f1d204;
}
#editor {
    height:100%;
    font-size: 15px;
}
