@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');
body {
    margin:0px;
    font-family:'Source Sans Pro', sans-serif;
    overflow-y:hidden;
}
.icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
.icon18 {
    font-size: 18px;
}
.icon24 {
    font-size: 24px;
}
.icon36 {
    font-size: 36px;
}
.icon48 {
    font-size: 48px;
}
.title {
    height:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.2)),url(codeshot.png);
}
.title span {
    color:white;
    font-weight:900;
    font-size:40px;
}
.test {
    display:block;
    font-family:'Source Sans Pro', sans-serif;
    background: #f1d204;
    border:2px solid #f1d204;
    border-radius: 2px;
    color: white;
    padding:10px 50px;
    letter-spacing: 2px;
    font-weight:700;
    font-size:20px;
    transition: 0.2s all;
}
.test:hover {
    background:transparent;
}
/*f1d204*/
